<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Payment</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/narrow-jumbotron.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        
        <nav class="navbar navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" >
              <img src="{{ url_for('static', filename='PolarIcelogo.png') }}" style="height: 50px; width: 50px; " class="d-inline-block align-text-top">
              <span style="font-weight: bold; font-size: 30px;">
                PolarIce</span>
            </a>
            <ul class="nav nav-pills"
              <li class="nav-item">
                <a class="nav-link active" href="https://127.0.0.1:8080/manageRoom">Cancel Payment <span class="sr-only"></span></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="jumbotron">
        <h1 class="display-5 fw-bold">Welcome</h1>
        <img style="height: 30px; width: 30px;" src="{{ url_for('static', filename='money.png') }}">
        <h4 class="lead">Purchase a Room for only $1.</h4>
        <br><br>
        <a href="#" id="buy_now_btn" class="btn-lg btn-primary">Buy Now</a>
      </div>

      <footer class="footer">
        <p>&copy; PolarIce 2021</p>
      </footer>
      <script src="https://js.stripe.com/v3/"></script>
      {#
      <script>
        const checkout_public_key = '{{checkout_public_key}}';
        const checkout_session_id = '{{checkout_session_id}}';
      </script>
      #}
      <script src="{{ url_for('static', filename='script-ajax.js') }}"></script>

    </div> 
  </body>
</html>