#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#animation{
    width: 30%;
    /* margin-right: 400px; */
    margin-top: 20px;
    position:absolute;
}

#profileImage{
    width: 50px;
    margin:2%;
    margin-left:5px;
}

#nav{
    background-color: whitesmoke;
    height:70px;
    }

b-nav-item{
    padding: 0px 50px;
    text-align: center;
    list-style: none;
    }


.navBarLogo {
    height: 60px;
    width: 60px;
    margin: 5px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


#navbarNav{ 
    /* margin-left: 250px;  */
    position: relative; 
    top:3px;
    /* right: 40%; */
}

#navbarNav ul li {
list-style: none;
}
#navbarNav ul li a {
position: relative;
display: block;
padding-left: 20px;
padding-right: 20px;
color: #262626;
transition: 0.5s;
z-index: 1;
}

#navbarNav ul li a:before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-top: 2px solid #262626;
border-bottom: 2px solid #262626;
transform: scaleY(2);
opacity: 0;
transition: 0.5s;
}
#navbarNav ul li a:after {
content: "";
position: absolute;
top: 2px;
left: 0;
width: 100%;
height: 100%;
background-color: #262626;
transform: scale(0);
opacity: 0;
transition: 0.5s;
z-index: -1;
}
#navbarNav ul li a:hover {
color: #fff;
}
#navbarNav ul li a:hover:before {
transform: scaleY(1);
opacity: 1;
}
#navbarNav ul li a:hover:after {
transform: scaleY(1);
opacity: 1;
}

/* Consistent */
#navbarNavRight{
    position:absolute;
    top:5px;
    right: 30px;
}

#navbarNavRight ul li {
    list-style: none;
}
#navbarNavRight ul li a {
    position: relative;
    display: block;
    /* text-transform: uppercase; */
    /* margin: 20px 0; */
    /* padding: 10px 20px; */
    padding-left: 20px;
    padding-right: 20px;
    color: #262626;
    transition: 0.5s;
    z-index: 1;
}
#navbarNavRight ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #262626;
    border-bottom: 2px solid #262626;
    transform: scaleY(2);
    opacity: 0;
    transition: 0.5s;
}
#navbarNavRight ul li a:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transform: scale(0);
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}
#navbarNavRight ul li a:hover {
    color: #fff;
}
#navbarNavRight ul li a:hover:before {
    transform: scaleY(1);
    opacity: 1;
}
#navbarNavRight ul li a:hover:after {
    transform: scaleY(1);
    opacity: 1;
}